.bestGear{
    width: 100%;
}
.contenu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between; 
}
.contenu>div{
    width: 48.64%;
    position: relative; 
    overflow: hidden; 
    border-radius: var(--radius);
}
.BestGearImgDesc, .BestGearImgTablet, .BestGearImgMobile{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;   
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.info h2{
    margin: 0;
}
.info span{
    color: var(--main-color);
}
.info p{
    opacity: 0.5;
    margin-top: 15px;
}
@media (max-width: 767px) {
    .contenu{ 
        flex-direction:column-reverse;
        gap: 40px;
    }
    .contenu>div{ 
        width: 100%;
    }
    .contenu>div:last-child{ 
        height: 300px;
    }
    .info{
        position: absolute;
        width: 100%;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .info h2{
        width: 327px;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
    }
    .info p{
       margin-top: 32px;
    }
    .BestGearImg{
        
        overflow: hidden;
    }
    .BestGearImgMobile{
        display: block;
        width: 100%;
    }

}

 /* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 768px) and (max-width: 1024px){
    .contenu{ 
        flex-direction:column-reverse;
        gap: 61px;
    }
    .contenu>div{ 
        width: 100%;
    }
    .contenu>div:last-child{ 
        height: 300px;
    }
    .info{
        position: absolute;
        width: 573px;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .info p{
        margin-top: 32px;
        width: 573px;
    }
    .info h2{
        width: 573px;
    }
    .BestGearImg{
        overflow: hidden;
    }
    .BestGearImgTablet{
        display: block;
        width: 100%;
    }
}
@media (min-width: 1025px) {
    .contenu{ 
        gap: 0.6%;
    }
    .contenu>div{ 
        height: 588px;
    }
    .info h2{
        transform: translateY(-15px);
        width:445px;
    }
    .info p{
        max-width: 450px;
    }
    .BestGearImgDesc{
        display: block;
        width: 100%;
    }
}